---
import Layout from "../layouts/Layout.astro";
import { Image } from  "astro:assets";
import Home from "../assets/home.png";
import BGM from "../assets/book.png";
import Friend from "../assets/friend.png";
import Pro from "../assets/people.png";
import Calendar from "../assets/calendar.png";


---
<style lang="scss">
.header {
    position: fixed;   /* ヘッダー固定 */
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #F19D83; 
    color: #fcfcfc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    z-index: 1000;
    .hamburger {
        position: fixed; 
        top: 20px;       
        right: 20px;     
        z-index: 1100;  
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;

        span {
            display: block;
            width: 30px;
            height: 3px;
            background-color: #fcfcfc;
            margin: 4px 0;
            transition: all 0.3s ease;
        }
    }


    .menu-wrapper {
        position: fixed;
        top: 0;
        right: -80%;
        width: 80%;
        height: 100%;
        background-color: #f5c98b;
        box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
        transition: right 0.3s ease;
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: center;
        &.open {
            right: 0;
        }
    }

    .menu {
        width: 80%;
        background-color: #eda65b;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 30%;
        h3 {
            text-align: center;
            font-weight: bold;
            margin-bottom: 20px;
            text-decoration: underline;
            color: #fcfcfc;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        li {
            display: flex;
            align-items: center;
            color: #fcfcfc;
            font-weight: bold;
            margin: 15px 0;
            border-bottom: 1px solid #fcfcfc;
            padding-bottom: 8px;

            a {
                text-decoration: none;
                color: #fcfcfc;
            }

            img {
                width: 24px;
                margin-right: 12px;
            }
        }
    }
}


</style>

<Layout>
<header class="header">
        <!-- ハンバーガーボタン -->
        <div class="hamburger" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <!-- メニュー -->
        <div class="menu-wrapper" id="menu">
            <div class="menu">
                <h3>メニュー</h3>
                <ul>
                    <li><a href="/"><Image src={Home} alt="ホーム" />ホーム</a></li>
                    <li><a href="/BGM/"><Image src={BGM} alt="BGM大辞典" /> BGM大辞典</a></li>
                    <li><a href="/FrendList/"><Image src={Friend} alt="フレンドリスト" /> フレンドリスト</a></li>
                    <li><a href="/playerlevel/"><Image src={Pro} alt="プロフィール" /> プロフィール</a></li>
                    <li><a href="/calendar/"><Image src={Calendar} alt="カレンダー" /> カレンダー</a></li>
                </ul>
            </div>
        </div>
</header>
</Layout>
<script is:inline>
    const hamburger = document.getElementById('hamburger');
    const menu = document.getElementById('menu');

    hamburger.addEventListener('click', () => {
        menu.classList.toggle('open');
    });
</script>
